$variant: 'dark';
$transparency: 'false';
$darker: 'false';

@import "_colors";
@import "_utils";

// Custom Colors

$dark_sidebar_highlight: lighten($bg_color, 10%);
$header_highlight: lighten($header_bg, 10%);


// General

body {
    color: $text_color;
    background-color: $base_color !important;
}

a {
    color: $text_color;
    &:visited {
        color: $text_color;
    }
}

#dropShadow {
    visibility: hidden;
}

// Home page

#backgroundContainer {
    #backgroundColor {
        background-color: $base_color !important;
    }

    #backgroundImageContainer, & > #gradient {
        visibility: hidden;
    }
}

sj-home[selected] {
    .home-palette-id-1, // Titles
    .home-palette-id-2, // Subtitles
    .home-palette-id-3, // Seperators
    .home-palette-id-6 { // Page dots
        color: $text_color !important;
    }

    .home-palette-id-5 { // Selected page dot
        color: $selected_bg_color !important;
    }
}

.gpm-now-card-grid-0, .gpm-now-card-grid-1 {
    .buttons.gpm-now-card-grid paper-icon-button.gpm-now-card-grid {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
    }
}


// Cards

.sj-card-0 {
    &[card-aspect-ratio="wide"] {
        background-color: $header_bg;
    }

    &, &[card-aspect-ratio="wide"] {
        #details.sj-card {
            & > [slot="description"], & > [slot="title"], & > [slot="subtitle"] {
                color: $text_color;
            }
        }
    }
}

// Playlists Sidebar

#playlist-drawer {
    #drawer.sj-right-drawer {
        background-color: $dark_sidebar_bg;

        .paper-toolbar-2 {
            background-color: $dark_sidebar_bg;
        }
    }

    .autoplaylist-section, #recent-playlists-container {
        border-bottom: 1px solid $dark_sidebar_border;
    }

    paper-header-panel paper-toolbar:not([style-scope]):not(.style-scope) {
        border-bottom: 1px solid $dark_sidebar_border !important;
    }

    #mainPanel iron-icon {
        color: $dark_sidebar_fg;
    }

    #auto-playlists-header, #recent-playlists-header, #playlists-header, #playlist-drawer-header {
        color: $dark_sidebar_fg;
    }

    .playlist-drawer-item {
        &.playlist-drop-target .playlist-wrapper .playlist-title:not([style-scope]):not(.style-scope) {
            color: $dark_sidebar_fg;
        }

        sj-play-button:hover,  iron-icon:hover {
            & ~ .playlist-wrapper {
                background-color: $dark_sidebar_highlight;
                color: $text_color;
            }
        }

        .playlist-wrapper {
            color: $dark_sidebar_fg;

            &:hover, &:focus {
                background-color: $dark_sidebar_highlight;
                color: $text_color;
            }
        }

        &.playlist-drop-target:not(.subscribed) .playlist-wrapper {
            background-color: $dark_sidebar_highlight;
            color: $text_color;
        }
    }
}

// Top bar

#material-app-bar {
    background-color: $header_bg !important;
    color: $text_color;
}

paper-header-panel#content-container  {
    &.has-hero-image #app-bar-text-protection {
        visibility: hidden;
    }
    paper-toolbar#material-app-bar {
        border-bottom: 1px solid darken($header_bg, 7%) !important;
        color: $text_color !important;
    }
}

// Nav drawer

#nav_collections .nav-item-container:focus, .nav-item-container:focus, .nav-item-container:hover {
    background-color: $dark_sidebar_highlight;
    color: $text_color;
}

.paper-drawer-panel-1 iron-selector.paper-drawer-panel > #drawer.paper-drawer-panel {
    background-color: $dark_sidebar_bg; //TODO: Transparancy to window
    color: $dark_sidebar_fg;
    border-bottom: 1px solid $dark_sidebar_border !important;
}

#nav-container {
    .nav-toolbar {
        background-color: $dark_sidebar_bg;
    }

    .nav-section-divider {
        border-bottom: 1px solid $dark_sidebar_border !important;
    }

    .nav-item-container {
        &.selected:not([style-scope]):not(.style-scope), &.nav-item-container.selected iron-icon:not([style-scope]):not(.style-scope) {
            color: $selected_fg_color;
        }

        &.selected {
            background-color: $selected_bg_color;
            color: $selected_fg_color;
        }

        &>iron-icon {
            color: $dark_sidebar_fg;
        }

        color: $dark_sidebar_fg;
    }
}

// Quick Nav

.gpm-quick-nav-2 .gpm-quick-nav {
    &.items > [selected] {
        color: $selected_bg_color !important;
    }

    &.items > *, &.more {
        color: $dark_sidebar_fg !important;
    }
}

// Search Bar

.sj-search-box-0, .sj-search-box-1 {
    border-color: 1px solid $header_entry_border;
    background-color: $header_entry_bg;

    #searchIcon.sj-search-box {
        color: $text_color;
    }

    #input.sj-search-box::-webkit-input-placeholder {
        color: $text_color; 
    }

    &[opened], &[has-query] {
        background-color: $header_bg;

        #input.sj-search-box {
            background-color: $selected_bg_color;
        }

        #searchIcon.sj-search-box {
            color: $selected_fg_color;
        }

        #input.sj-search-box::-webkit-input-placeholder {
            color: $selected_fg_color;
        }
    }

    &[opened]:not([num-suggestions="0"]) #input.sj-search-box {
        border-bottom: 1px solid $header_entry_border;
    }

    #clearButton.sj-search-box {
        color: $selected_fg_color;
    }

    #input.sj-search-box {
        color: $selected_fg_color;

        &::-webkit-input-placeholder {
            color: $selected_fg_color; 
        }
    }

    .sj-search-suggestion-0 {
        &:hover, &.query-selected {
            background-color: $header_highlight;
            color: $text_color;
        }

        #queryText.sj-search-suggestion, iron-icon.sj-search-suggestion {
            color: $text_color;
        }
    }

    .sj-entity-suggestion-0 {
        #title, #subtitle {
            &.sj-entity-suggestion {
                color: $text_color;
            }
        }

        &.sj-search-box:last-of-type {
            border-bottom: 7px solid transparent !important;
            margin-bottom: 7px !important;
            box-shadow: 0px 1px 0px 0px $header_entry_border !important;
        }

        &:hover, &.query-selected {
            background-color: $header_highlight;
            color: $text_color;
        }
    }

    .sj-search-suggestion-0 #queryText.sj-search-suggestion .sub-match.sj-search-suggestion {
        color: $selected_bg_color;
    }
}

// Player bar

#player {
    background-color: $header_bg;

    paper-icon-button#player-bar-play-pause:not([style-scope]):not(.style-scope):not([disabled]) {
        color: $selected_bg_color;

        svg path:nth-child(2) {
            fill: $header_bg;
        }
    }
    .paper-progress-1, .paper-progress-2, .paper-progress-3 {
        #primaryProgress.paper-progress {
            background-color: $selected_bg_color;
        }
    }

    &:hover #material-player-progress:not([disabled]) #progressContainer {
        background-color: $fg_color;
    }

    .paper-slider-0, .paper-slider-1 {
        .ring.paper-slider > .slider-knob.paper-slider > .slider-knob-inner.paper-slider {
            background-color: $selected_bg_color;
        }

        .slider-knob-inner.paper-slider {
            background-color: $selected_bg_color;
            border-color: $selected_bg_color;
        }

        paper-ripple.paper-slider {
            color: $selected_bg_color;
        }
    }

    paper-icon-button[data-id="repeat"].active:not([style-scope]):not(.style-scope), 
    paper-icon-button[data-id="shuffle"].active:not([style-scope]):not(.style-scope), 
    #exp-menu-shuffle.active:not([style-scope]):not(.style-scope), 
    #exp-menu-repeat.active:not([style-scope]):not(.style-scope), 
    #exp-menu-queue.opened:not([style-scope]):not(.style-scope), 
    paper-icon-button[data-id="queue"].opened:not([style-scope]):not(.style-scope), 
    paper-icon-button #exp-menu-queue.opened:not([style-scope]):not(.style-scope) {
        color: $selected_bg_color !important;
    }

    .now-playing-actions paper-icon-button {
        color: $fg_color;

        &[title="Undo thumb-up"], &[title="Undo thumb-down"] {
            color: $selected_bg_color;
        }
    }
}

// Library

.paper-tabs-1 #selectionBar.paper-tabs {
    background-color: $selected_bg_color;
}


// Song lists (Album, Artist, Playlist, Radio)

.paper-fab-0 {
    background-color: $selected_bg_color;

    // fix incorrect fill in play button
    svg path {
        fill: $header_bg;
    }
}

.material-detail-view {
    .material-container-details .info {

        .container-stats-container .container-stats {
            color: $text_color;
            span {
                color: $text_color;
            }
        }

        .description {
            color: $text_color;
        }
    }

    .artist-details {
        background-color: $header_bg;
    }
}

.material .cluster-text-protection {
    background-color: $base_color;
    &::before {
        background-color: $base_color;
    }
}

.material-album-container {
    background-color: $header_bg;
}

.songlist-container {
    background-color: $header_bg;
}

.material-playlist-container {
    background-color: $header_bg;
}

.song-table th[data-col] {
    iron-icon {
        color: $header_fg !important;
    }
    color: $header_fg;
}

paper-drawer-panel iron-image#material-hero-image {
    visibility: hidden;
}

.song-row {
    td {
        background-color: $header_bg;
        color: $text_color !important;
    }

    &.selected-song-row td, &:hover td {
        background-color: lighten($header_bg, 10%) !important;
    }

    &.currently-playing td {
        background-color: $selected_bg_color !important;
        color: $selected_fg_color !important;

        .song-artist-album a {
            color: $selected_fg_color !important;
        }
    }

    td[data-col="index"], td[data-col="track"] {
        .hover-button[data-id="play"] {
            color: $selected_bg_color;
        }
    }
}

.cluster .header .cluster-title, .section-header {
    color: $text_color;
}

.material-detail-view .artist-details .bio-wrapper .bio {
    color: $text_color;
}

iron-icon.primary:not([style-scope]):not(.style-scope) {
    color: $selected_bg_color !important;
}

.primary:not([style-scope]):not(.style-scope) {
    color: $selected_bg_color !important;
}

iron-icon[icon="av:explicit"] {
    color: $selected_bg_color !important;
}

.subcategories-list {
    background-color: $header_bg;

    li a:hover, .material-list li a:focus {
        background-color: $header_highlight;
        color: $header_fg;
    }
}

.gpm-detail-page-header-0 {
    div.gpm-detail-page-header {
        & > [slot="title"], & > [slot="subtitle"], & > [slot="description"], & > [slot="metadata"], & > [slot="buttons"] {
            color: $text_color;
        }

        #explicitIcon.gpm-detail-page-header {
            color: $selected_bg_color;
        }
    }

    &[description-overflows] #descriptionWrapper.gpm-detail-page-header:hover {
        background: none;
        & > [slot="description"] {
            color: $selected_bg_color;
        }
    }
}

@include numbered-types(".sj-play-button-", 0, 10) {
    color: $header_bg;

    #buttonContent.sj-play-button {
        background-color: $selected_bg_color;
    }

    #pulse.sj-play-button {
        background-color: transparentize($selected_bg_color, 0.3);
    }

    .spinner-layer.paper-spinner-lite {
        border-color: $selected_fg_color;
    }
}

// Recents

.gpm-card-grid-0, .gpm-card-grid-3 {

    #gridTitle {
        color: $text_color;
    }
}

// Queue 

#queue-overlay {
    background-color: $header_bg;

    .song-table.mini [data-col="song-details"] .song-title {
        color: $text_color;
    }
}

// Top Tracks

.top-tracks {
    background-color: $header_bg;
}

.more-songs-container {
    border-top: 1px solid darken($header_bg, 5%);
}

.top-charts-view .song-row [data-col="index"] .column-content:not([style-scope]):not(.style-scope) {
    color: $selected_bg_color !important;
}

// Cards

.material-card {
    
    background-color: $header_bg;

    // Circle Images
    &.entity-card .image-wrapper {
        background-color: $header_bg;
    }

    // Menu button
    .details paper-icon-button.menu-anchor {
        color: $text_color;
    }

    // Square images
    .sub-title {
        color: $text_color;
    }
    .title {
        color: $text_color;
    }

    // Featured
    &[data-is-listen-now="true"]  {
        .details {
            background-color: $selected_bg_color;

            * {
                color: $selected_fg_color;
            }
        }
    }
}

.fade-out {
    &.gray:after {
        background: linear-gradient(to right, transparentize($base_color, 1), $base_color) !important;
    } 
    &:after {
        background: linear-gradient(to right, transparentize($header_bg, 1), $header_bg) !important;
    }
}

.paper-button-1, .paper-button-2 {
    background-color: $selected_bg_color !important;
    color: $selected_fg_color !important;
}

// Menus

.goog-menu {
    background-color: $dark_sidebar_bg;
    border: 1px solid $dark_sidebar_border;

    .goog-menuitem {
        &:hover {
            background-color: $dark_sidebar_highlight;
        }

        &.selected {
            div.goog-menuitem-content:not([style-scope]):not(.style-scope) { // div to get higher specificity
                color: $selected_bg_color !important;
            }
        }

        .goog-menuitem-content { 
            color: $dark_sidebar_fg !important;
        }
        background-color: $dark_sidebar_bg;
    }

    .goog-submenu iron-icon {
        color: $dark_sidebar_fg;
    }

    .goog-menuseparator {
        background-color: $dark_sidebar_border !important;
    }

    &.now-playing-menu {
        border: 1px solid $dark_sidebar_border !important;
    }
}

// Loading Spinner

.paper-spinner-lite-1 .spinner-layer.paper-spinner-lite {
    border-color: $selected_bg_color;
}

// Drag-and-drop
.material-drag.tight-song-row .song-drag-label {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
}

// Settings

.settings-card {
    background-color: $header_bg;
}

.music-source-empty-message {
    color: $text_color;
}

.settings-footer p {
    color: $text_color;
}

.labs-card .lab-list-item .lab-info .lab-description {
    color: $text_color;
}

// Dropdown selector

.paper-input-container-0 {
    .input-content.paper-input-container {
        label, .paper-input-label, input, textarea, iron-autogrow-textarea, .paper-input-input {
            color: $text_color;
        }

        &.label-is-highlighted, &.is-invalid {
            label, .paper-input-label {
                color: $selected_bg_color;
            }
        }
    }

    .paper-input-container {
        &.focused-line {
            background: $selected_bg_color;
        }
        &.unfocused-line {
            background: $header_border;
        }
    }
}

.paper-menu-button-0 {
    .paper-menu-0 {
        background-color: $dark_sidebar_bg;
        color: $dark_sidebar_fg;
        border: 1px solid $dark_sidebar_border;
        border-radius: 2px;

        .paper-item-body-0  [secondary] {
            color: $header_fg;
        }

        .paper-item-0:focus {
            &:before {
                visibility: hidden;
            }

            background-color: $dark_sidebar_highlight;
        }
    }

    .dropdown-content.paper-menu-button {
        background: none;
    }
}

// Checkbox

.paper-checkbox-1 {
    #checkbox.paper-checkbox {
        border-color: $text_color;

        &.checked {
            background-color: $selected_bg_color;
            border-color: $selected_bg_color;
        }
    }

    #checkmark.paper-checkbox {
        color: $selected_fg_color;
    }

    #ink[checked].paper-checkbox {
        color: $selected_bg_color;
    }

    #checkboxLabel.paper-checkbox {
        color: $text_color;
    }
}

// Toggle Button

.paper-toggle-button-0[checked] {
    &:not([disabled]) .paper-toggle-button {
        &.toggle-button, &.toggle-bar {
            background-color: $selected_bg_color;
        }
    }

    .toggle-ink.paper-toggle-button {
        color: $selected_bg_color;
    }
}

// Toast

.paper-toast-0 {
    background-color: $osd_bg_color;
    color: $osd_fg_color;
    border: 1px solid $dark_sidebar_border;
}

paper-toast paper-button[data-action="button"]:not([style-scope]):not(.style-scope) {
    color: $selected_bg_color;
}

//Dialog

.paper-dialog-0 {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
}

// Miscellaneous

// sass --watch src/gpm-styles.scss:gpm-styles.css src/gpmdp-styles.scss:gpmdp-styles.css
// python -m http.server 
// $('head').insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="http://localhost:8000/gpm-styles.css">');